{
	"version" : "1.0.0",
	"changelog" : "
    ----- RELEASE -----
    Typos fixed:
    Bandit's Bandana – description – bandana was misspelled
    Fungus Stim – name should be Fungus Stim Pack
    Po, Po Golem – assigned proper names
    Trilobite (set) – description had quotation mark at the beginning
    T-Rex Upper Tail – name had semicolon at the end

    Textures fixed:
    S.A.I.L (Apex ship console) - corrected glow map
    Scientist Pants – hole in leg on specific idle frame
    Sewing Machine – wrong color pixels on single frame
    Shroom Disguise – extra pixel, incorrect hair masking
    Silver Chestpiece – correct sprite for back arm placing item frame
    Thorny Plant – first frame was placed twice with 1px of offset
    random gen axe handle 46 – caused gap
    random gen dagger blade 11, 15, 16, 17 – caused gap

    Icons fixed:
    Metal Barrel
    Radioactive Barrel (both variants)
    Shroom Disguise
    Thorn Plant

    Other Fixes:
    Fungus Stim Pack – corrected hand position and added price
    Orange Stim Pack – corrected hand position and price
    Radioactive Barrel (both variants) – corrected category to decorative
    Small Barrel – set collision type to platform to fix an ocean dungeon
    Large Barrel – set collision type to platform to match small barrel
    Triplod Figurine - fixed not registering in collections
    boat.lua – fixed a typo and incorrect value
    ",
	"welcome" : "
    Welcone to Starbound Patch Project!
    This project aims to fix as many bugs present in Starbound as possible.
    ",
	"credits" : "
    Author: jss2a98aj
    Contributors: 
    Bug hunters: Clank8138
    ",
	"info" : "
    All textures that SBPP modifies have ben ran through PNGGauntlet to reduce filesize.
    "
}