{
	"version" : "1.3.0",
	"changelog" : "
^cyan;-------- 1.3.0 --------^reset;
Other fixes:
  Added Floran Survivalist clothing to NPCs

Object fixes:
  Made it possible to place Medieval Lamps on walls
  -All racial descriptions indicated it could be hung up.

Texture fixes:
  Floran S.A.I.L.: Avian static was incorrectly assigned

  Novakid S.A.I.L.: Glitch static was incorrectly assigned
  -This S.A.I.L. did not have matching static. It does now.

Typo fixes:
  10 Years On (codex): Description

NPC fixes:
  Avian Tomb Tenant: fixed dialog

  Castle Lord: assigned correct drop pool

  Evil Knight: assigned correct drop pool

  Evil Knight Lord: assigned correct drop pool

  Eye Guard: assigned correct drop pool

  Friendly Castle Guard: assigned correct drop pool

  Friendly Castle Lord: assigned correct drop pool

  Saloon Villager: corrected quest pool

  Stargazer: corrected quest pool, fixed dialog

Monster ground collision fixes:
  Baby versions of: Hens, Robot Hens, Fluffalos,
  Electric Fluffalos, Fire Fluffalos, Ice Fluffalos,
  and Poison Fluffalos
  
  87 critters that did not swim or fly

Added descriptions and names to the following monsters:
  Apex Mutant
  Brainy Apex Mutant
  Black Cat
  Bonebird
  Floki
  Minidrone
  Nautileech
  Pinfriend

Updated fixes:
  Sewer Fly name changed to Growfy
  -An old codex I missed had an actual name for it listed.


Changelogs from before SBPP 1.3.0 are no longer shown here.
  ",
	"welcome" : "
Welcome to the ^cyan;Starbound Patch Project^reset; mod!
This project was made to fix bugs present in Starbound.

New fixes in version 1.3.0:
Over 100 Monsters and NPCs had different bugs fixed.

Floran and Novakid S.A.I.L. static, along with some
other stuff, was fixed too.

See the changelog for more information, there was a lot fixed.
  ",
	"credits" : "
  ^cyan;Author:^reset; jss2a98aj
  
  ^green;Contributors:^reset; Ralek_Basa, Prototype99, Yanazake,
  lunapanshiel, Dracyoshi, Xaliber
  
  ^green;Bug hunters:^reset; Clank8138
  ",
	"info" : "
PNGGauntlet has been used on all textures modified by SBPP.
All bugs currently fixed are listed below.

Crashes fixed:
  Big Unusual Gift Box no longer uses an invalid drop pool
  Small Unusual Gift Box no longer uses an invalid drop pool
  -Prevents the game from crashing when they are killed.

  Watering Cans no longer stack
  -Prevents an auto-sort interaction from corrupting saves.

Tiles fixed:
  Matter Blocks no longer occlude background blocks
  Matter Blocks no longer turn invisible when colored
  Timber no longer has a purple pixel when painted yellow

Objects fixed:
  Apex S.A.I.L console now has a correct glow map
  Large Barrels now have collision to match small barrels
  Medieval Lamps can now be placed on walls
  Sewing Machines no longer have a darker pixel on one frame
  Small Barrels now have collision to fix an ocean dungeon
  Thorny Plants no longer have the first frame messed up

Object wiring node placements fixed:
  Blue Club Lights
  Green Club Lights
  Red Club Lights
  Yellow Club Lights

Plants fixed:
  All kelp variations now drop saplings
  Tentacle trees now drop items as intended

Item textures fixed:
  Suspender Pants no longer have a hole in one frame

Item prices corrected:
  Alpaca Guard (cosmetic set)
  Barrel Lid (Headwear)
  Barrel (Chestwear)
  Cardboard Box Armor
  Fungus Stim Pack
  George's Foxy Glasses
  Orange Stim Pack
  Synthesis Stim Pack

Item rarities corrected:
  Cardboard Box Armor

Item hand positions corrected:
  Fungus Stim Pack 
  Shroom Remedy
  Synthesis Stim Pack

Headwear hair masks fixed/improved:
  Camo Helmet
  Demon Horn Wig
  Desert Head Scarf
  Dog Hat
  Flowery Mask
  Fluorescent Helmet
  Geode Mask
  George's Foxy Glasses
  Horned Tricorn
  Ice Cube Mask
  Insurgent's Mask
  Outrider's Helm
  Pioneer's Helm
  Predatory Head
  Sabertooth Helm
  Shroom Disguise
  Slime Mask
  Vanguard's Helm
  Viking Helm
  Voyager's Helm

Existing icons improved:
  Metal Barrel
  Radioactive Barrel (standing version)

Placeholder icons replaced:
  Alpaca Guard (cosmetic set)
  Protectorate Books (both types)
  Protectorate Clock
  Protectorate Games Console
  Protectorate Garden Wind Chimes
  Protectorate Hologlobe
  Protectorate Poptop Toy
  Protectorate Toilet Roll Holder
  Protectorate Wall Banner (three versions)
  Protectorate Water Dispenser
  Small Smashable Rocks (Copper, Diamond, Gold, Platinum, Silver)
  Smashable Rocks (Copper, Diamond, Gold, Platinum, Silver)
  Red Toolbox
  Thorny Plant

S.A.I.L. static paths fixed:
  Floran S.A.I.L.
  Novakid S.A.I.L.

NPC drop pool assignments fixed:
  Castle Lord
  Evil Knight
  Evil Knight Lord
  Eye Guard
  Friendly Castle Guard
  Friendly Castle Lord

NPC quest pool assignments fixed:
  Saloon Villager
  Stargazer

NPC dialog paths fixed:
  Avian Tomb Tenant
  Stargazer

Items assigned to NPC outfit lists:
  Survivalist Chest
  Survivalist Legs

Monsters with name and description fields added:
  Apex Mutant
  Black Cat
  Bonebird
  Brainy Apex Mutant
  Floki
  Glitch Knight
  Minidrone
  Nautileech
  Pinfriend
  Po Golem
  Po (all three sizes)
  Sewer Fly

Monsters with ground collisions fixed:
  87 different ground critters
  Baby versions of:
    Fluffalos
    Electric Fluffalos
    Fire Fluffalos
    Ice Fluffalos
    Poison Fluffalos
    Hens
    Robot Hens

Parallax fixes:
  All fixes from the Parallax Fixes mod are included
  -Thanks to Dracyoshi and Xaliber for allowing this.

Typo fixes:
  Ammonite fossil display names were missing the fossil suffix
  Triolbite fossil display names were missing the fossil suffix

  10 Years On (codex): Description
  Alpaca Guard (cosmetic set): some names
  Cooked Poultry: description
  Cryogenic Blaster: Hylotl description
  Frontier Bed: Human description
  Frontier Coffin: Floran description
  Full-Size Fridge: Apex description
  Fungus Stim Pack: name, description
  Medieval Lamp: Human description
  Medieval Pedestal: Hylotl description
  Mulled Fruit Drink: Avian description
  Office Computer: Human description
  Protectorate Poptop Toy: name
  Random Fountain: Added Novakid description
  Steampunk Shelf: Apex description
  Synthesis Stim Pack: name, description
  "
}