{
	"version" : "1.0.2",
	"changelog" : "
  ------ 1.0.2 ------
Textures fixed:
    Disguise Trousers - had missing and incorrectly colored pixels
    Soldier's Leg Armour - had missing knee plate on a idle frame

Hair masks fixed:
    Camo Helmet
    Desert Head Scarf
    Voyager's Helm
    
Wiring node placement fixed:
    Club Lights (Blue, Green, Red, and Yellow)

  ------ 1.0.1 ------
Hair masks fixed:
    Demon Horn Wig
    Dog Hat
    Flowery Mask
    Fluorescent Helmet
    Geode Mask
    George's Foxy Glasses
    Horned Tricorn
    Ice Cube Mask
    Insurgent's Mask
    Outrider's Helm
    Pioneer's Helm
    Predatory Head
    Sabertooth Helm
    Slime Mask
    Vanguard's Helm
    Viking Helm

Placholder icons replaced:
    Protectorate Books (both types)
    Protectorate Games Console
    Protectorate Garden Wind Chimes
    Protectorate Hologlobe
    Protectorate Water Dispenser
    Red Toolbox
    
  ------ 1.0.0 ------
Typos fixed:
    Bandit's Bandana - description - bandana was misspelled
    Fungus Stim - name should be Fungus Stim Pack
    Po, Po Golem - assigned proper names
    Trilobite (display) - description had a random quotation mark
    T-Rex Upper Tail - name had semicolon at the end

Textures fixed:
    S.A.I.L (Apex ship console) - corrected glow map
    Scientist Pants - had hole in leg on specific idle frame
    Sewing Machine - had incorrectly colored pixels on one frame
    Shroom Disguise - had extra pixel and bad hair masking
    Silver Chestpiece - corrected a frame of the back arm
    Thorny Plant - first frame was placed twice with 1px of offset
    random gen axe handle 46 - caused gap
    random gen dagger blade 11, 15, 16, 17 - caused gap

Icons fixed:
    Metal Barrel - slight tweak
    Radioactive Barrel (both types) - slight tweak
    Shroom Disguise - was a placeholder
    Thorny Plant - was a placeholder

Other Fixes:
    Fungus Stim Pack - corrected hand position and price
    Orange Stim Pack - corrected hand position and price
    Radioactive Barrel (both types) - set category to decorative
    Small Barrel - added collision to fix an ocean dungeon
    Large Barrel - added collision to match small barrel
    Triplod Figurine - will now register in collections
    boat.lua - fixed a typo and incorrect value
    ",
	"welcome" : "
    Welcone to Starbound Patch Project!
    This project was made to fix bugs present in Starbound.
    ",
	"credits" : "
    Author: jss2a98aj
    Contributors: 
    Bug hunters: Clank8138
    ",
	"info" : "
PNGGauntlet has been used on all textures modified by SBPP.
    "
}